html, body, .app, #root {
  height: 100%;
  font-family: 'Russo One', sans-serif;
}

.app {
  background-image: url("../../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 510px;
}

.app-message {
  padding-top: 5vh;
  text-align: center;
  color: white;
}
