html, body, .app, #root {
  height: 100%;
  font-family: 'Russo One', sans-serif;
}

.app {
  background: #1D0622;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  min-height: 510px;
}

.top {
  max-width: 1536px;
  overflow: hidden;
  height: 60%;
}

.content-container {
  color: white;
  padding-top: 5vh;
  width: 95%;
  min-width: 300px;
  max-width: 400px;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.clouds {
  max-height: 25%;
  overflow: hidden;
}

.clouds img, .top img {
  height:100%;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
