.coin-front-face {
  backface-visibility: hidden;
  transform: rotateX(25deg);
  /*box-shadow: 0px 3px black;*/
  border-radius: 50%;
}

.container {
  transform-style: preserve-3d;
  position: relative;
  overflow: hidden;
}

.back-face{
  backface-visibility: hidden;
  width: 40px;
  height: 40px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  transform: rotateX(180deg);
}
