.flip {
 animation: flip 2s infinite;
}

.coin {
  transform-style: preserve-3d;
  transform: rotateX(25deg);
}

@keyframes flip {
  0% {
    transform: rotateX(25deg);
  }
  100% {
    transform: rotateX(385deg);
  }
}
