.flip {
 animation: flip 0.5s linear infinite, move 2s;
}

.coin {
  position: relative;
  padding: 100px;
  transform-style: preserve-3d;
  transform: rotateX(25deg);
}

@keyframes flip {
  0% {
    transform: rotateX(25deg);
  }
  100% {
    transform: rotateX(385deg);
  }
}

@keyframes move {
  0% {
    top: 0;
  }
  50%{
    top: -120px;
  }
  100% {
    top: 0;
  }
}
