.game-container {
}

.display-container {
  margin-bottom: 1.5em;
  width: 100%;
}

.coin-display-container {
  position: relative;
  width: 90%;
}

.coin-display-container img {
  width: 100%;
}

.flip {
  animation: flip 0.5s linear 3;
}

.container {
  text-align: center;
  margin-bottom: 1em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.coin {
  transform-style: preserve-3d;
  transform: rotateX(10deg);
  transition: all 0.5s linear;
}

.button {
  outline: none;
  border: none;
  height: 60px;
  width: 150px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.25s ease;
}

.button[disabled] {
  filter: grayscale(1);
}

.bet-button {
  background-image: url("../../assets/ig_bet_btn.png");
}


.reset-button {
  background-image: url("../../assets/ig_reset_btn.png");
}

.double-button {
  background-image: url("../../assets/ig_double_btn.png");
}


@keyframes flip {
  0% {
    transform: rotateX(10deg);
  }
  100% {
    transform: rotateX(370deg);
  }
}
